.lugar{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #8585855e;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.dia{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #8585855e;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
}

.carga{
    text-align: center;
    color: white;
    text-shadow: 1px 1px #8585855e;
    font-size: 1.5em;
    font-weight: 200;
}